.center-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/indeximg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*Login*/

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 80%;
    height: 300px;
    width: 500px;
    border-radius: 15px;
    padding: 20px;
}


form .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; 
    width: 100%;   
    max-height: 300px;
}

.centerinputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; 
}

.login a{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    min-height: 40px;
    width: 64px;
    margin: 4px;
    font-family: Arial;
    font-size: 19.2px !important;
    font-weight:normal;
    color:  #FF6600;
    text-decoration: none; /*removes underlining*/
}



button{
    color: #FF6600; 
    width: fit-content; 
    border: none; 
    background-color: white;
    font-size: larger;
    font-weight:normal;
    margin: 10px 0px;
}



h2{
    max-height: 0px;
    color: #FF6600;
}

h4{
    max-height: 0px;
    color: #FF6600;
}

.align-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 12px;
}
.align-end a{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-family: Arial;
    font-size:14px !important;
    width: 500px;
    margin-top: 20px;
    padding-right: 10px ;
}


/***/
.input-container {
  position: relative;
  margin: 20px 0;
  width: 250px;
  height: 10px;
}

.input-container input {
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.input-container label {
  position: absolute;
  top: 12px;
  left: 0px;
  width: 60px;
  height: 25px;
  padding-left: 10px;
  background:#eaf0fd;
  color: #aaa;
  transition: 0.3s;
  pointer-events: none;
  border-radius: 15px;

}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: 5px;
  font-size: 12px;
  color: #FF6600;
}
